* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d1b2a62;
}

.header-container {
  width: 100%;
  height: auto;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  /* border: 1px solid #e9ecef; */
  background-color: #0d1b2a;
  position: fixed;
  width: 100%;
}

.logo {
  font-size: 2.8rem;
  padding: 1.5rem;
  margin-left: 1rem;
  color: white;
}

.logo-red {
  color: rgb(224, 22, 22);
  font-size: 2.8rem;
  display: inline-block;
}

.list {
  display: flex;
  gap: 3rem;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
  width: 40rem;
  justify-content: center;
}

.list-items {
  list-style-type: none;
}

.list-items a {
  text-decoration: none;
  font-size: 2.2rem;
  color: #fff;
}

.list-items a:hover {
  color: #6c757d;
}

.mobile-nav {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon {
  height: 4.8rem;
  width: 4.8rem;
  margin-right: 2rem;
}

.close-btn {
  display: none;
}

.main {
  width: 100%;
  height: auto;
  padding-top: 6.5rem;
}

#home {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #0d1b2a;
}

.auto-text-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#auto-write {
  font-size: 5.2rem;
}

.auto-type {
  font-size: 4.2rem;
  color: #fca311;
  font-family: 700;
}

.home-container {
  display: flex;
  width: 100%;
  height: auto;
}

.home {
  font-size: 1.8rem;
}

.box-1 {
  width: 50%;
  height: calc(100vh - 126.9px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 30rem;
  background-color: #0d1b2a;
  border-radius: 0.8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 2rem;
}

.profile img {
  margin-top: 0.5rem;
  width: 10rem;
  height: 10rem;
  border-radius: 0.8rem;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
}

.profile-role,
.profile-project {
  font-size: 1.8rem;
  color: #fff;
  margin: 0 2rem 2rem 2rem;
  font-weight: 300;
}

.box-2 {
  width: 50%;
  height: calc(100vh - 126.9px);
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.box-2 a {
  text-decoration: none;
  font-size: 1.8rem;
  border: 1px solid #6c757d;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #0d1b2a;
  color: #fff;
}

.download-icon {
  width: 2rem;
  height: 2rem;
}

/* .line {
  position: relative;
  width: 1px;
  background-color: #6c757d;
  transform: rotate(30deg);
} */

#about {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #0d1b2a;
}

.title {
  font-size: 3rem;
  color: #0d1b2a;
  margin: 1rem 0;
}

.about-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.skills {
  width: 30rem;
  height: 40rem;
  background-color: #eaeaea;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  font-size: 2.8rem;
  display: flex;
  text-align: center;
  align-items: center;
}

#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0d1b2a;
  /* background-color: navy; */
}

#skills {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0d1b2a;
  /* background-color: rebeccapurple; */
}

h1 {
  font-size: 3.2rem;
}

@media (max-width: 600px) {
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 2.4rem;
  }

  .box-1 {
    width: 90%;
    height: calc(50vh);
  }

  .profile {
    width: 60rem;
    background-color: #0d1b2a;
    border-radius: 0.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
  }

  .box-2 {
    width: 90%;
    height: calc(20vh);
  }

  .mobile-nav {
    display: block;
    z-index: 1;
  }

  .nav {
    background-color: #0d1b2a;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    /* 1) Hide it visibility */
    opacity: 0;
    /* 2) make it unaccesible to mouse and keyboard */
    pointer-events: none;
    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .close-btn {
    display: block;
  }

  .nav-open .menu-btn {
    display: none;
  }

  .list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7rem;
  }

  .list-items a {
    font-size: 2.4rem;
    margin: 0;
  }

  #about {
    flex-direction: column;
  }

  .about-container {
    flex-direction: column;
  }
}
